# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build artifacts
build/
*.spec.bak

# PyCharm / VS Code / Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environments
.env
.venv
env/
venv/
ENV/

# Temp logs and caches
*.log
*.tmp
temp/
.DS_Store
Thumbs.db
